<h1>Υποστηρίξτε την ανάπτυξη του Vue.js</h1>

<p>
  To Vue.js είναι ένα έργο ανοικτού κώδικα δωρεάν προς χρήση με άδεια χρήσης MIT. Ωστόσο, το μέγεθος της προσπάθειας που απαιτείτε για την συντήρηση και την ανάπτυξη νέων χαρακτηριστικών για το έργο δεν είναι βιώσιμη χωρίς κατάλληλη οικονομική στήριξη. Μπορείτε να στηρίξετε την ανάπτυξη του Vue.js με τους ακόλουθους τρόπους:
</p>

<h2 id="One-time-Donations">Κάντε μια χορηγία</h2>

<p>Δεχόμαστε χορηγίες μέσω των ακόλουθων καναλιών:</p>

<div id="one-time-donations">
  <a href="https://www.paypal.me/evanyou" target="_blank">
    <img src="/images/paypal.png" style="width:100px">
  </a>
  <a href="#btc"><%- partial('icons/btc') %> BTC</a>
  <a href="#bch"><%- partial('icons/bch') %> BCH</a>
  <a href="#eth"><%- partial('icons/eth') %> ETH</a>
  <a href="#ltc"><%- partial('icons/ltc') %> LTC
  </a>
</div>

<div id="coin-details" v-if="type && coins[type]">
  <p>{{ coins[type].name }} Διεύθυνση:<br>{{ coins[type].address }}</p>
  <img :src="'/images/coin-' + type + '.png'">
</div>
<script>
var coins = new Vue({
  el: '#coin-details',
  data: {
    type: window.location.hash.slice(1),
    coins: {
      btc: {
        name: 'Bitcoin',
        address: '14MEpy5a9MwDZa9CUzrfDhTU8dy2KKJ5mU'
      },
      bch: {
        name: 'Bitcoin Cash',
        address: '15gftB3fwumFRWGWFhVzTgc4nhM5w1F2Tu'
      },
      eth: {
        name: 'Ethereum',
        address: '0x3411356C1f0Bf5D859464eD2AC54DD2C222519B7'
      },
      ltc: {
        name: 'Litecoin',
        address: 'LUcHis3B8SFtEeZtuCaZoqsyN9XFAKmbCP'
      }
    }
  }
})
window.addEventListener('hashchange', function () {
  coins.type = window.location.hash.slice(1)
})
</script>

<h2 id="Recurring-Pledges">Επαναλαμβανόμενες χορηγίες</h2>

<p>
  Οι επαναλαμβανόμενες χορηγίες έχουν ειδικά προνόμια, πχ. εμφανίζουμε το όνομα σας στο GitHub, η βάζουμε το λογότυπο σας στην ιστοσελίδα μας.
</p>

<ul>
  <li>
    <a href="https://www.patreon.com/evanyou" target="_blank">Γίνετε ένας υποστηρικτής μέσω του Patreon</a> (goes directly to support Evan You's full-time work on Vue)
  </li>
  <li>
    <a href="https://opencollective.com/vuejs">Become a backer or sponsor via OpenCollective</a> (goes into a fund with transparent expense models supporting community efforts and events)
  </li>
</ul>

<h2>Τρέχοντες Κορυφαίοι Χορηγοί:</h2>

<h3>Ειδικοί Χορηγοί</h3>

<p class="platinum">
<%_ for (const sponsor of theme.special_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>Πλατινένιοι</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Πλατινένιοι</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/platinum-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Ειδικοί Χορηγοί (Κίνα)</h3>

<p class="platinum">
<%_ for (const sponsor of theme.platinum_sponsors_china) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>"<%- (sponsor.big_width || sponsor.big_height) ? ` style="${sponsor.big_width ? `width:${sponsor.big_width};`: ``}${sponsor.big_height ? `height:${sponsor.big_height};` : ``}"` : `` %>>
  </a>
<%_ } _%>
</p>

<h3>Patreon Χρυσοί</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.gold_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Χρυσοί</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 10; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/gold-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<h3>Patreon Ασημένιοι</h3>

<p class="patreon-sponsors sponsor-section">
<%_ for (const sponsor of theme.silver_sponsors) {_%>
  <a href="<%- sponsor.url %>" target="_blank">
    <img src="<%- url_for(`/images/${sponsor.img}`) %>">
  </a>
<%_ } _%>
</p>

<h3>OpenCollective Ασημένιοι</h3>

<p class="open-collective-sponsors sponsor-section">
<%_ for (let i = 0; i < 5; i++) {_%>
  <a href="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/website" target="_blank">
    <img src="https://opencollective.com/vuejs/tiers/silver-sponsors/<%- i %>/avatar.svg">
  </a>
<%_ } _%>
</p>

<p>
  Αν έχετε εταιρεία και χρησιμοποιείτε το Vue για προϊόντα που παράγουν έσοδα, έχει νόημα σε επίπεδο επιχειρήσεων να κάνετε χορηγίες για την ανάπτυξη του Vue: <b>γιατί διασφαλίζει πως το έργο από το εξαρτάτε το προϊόν σας θα παραμείνει υγείες και θα συντηρείτε ενεργά.</b> Μπορεί επίσης να βοηθήσει στην έκθεση σας στην κοινότητα του Vue και να είναι ευκολότερο να προσελκύσετε προγραμματιστές Vue.
</p>

<p>
  Αν είστε ένας μεμονωμένος χρήστης που απολαμβάνει την αυξημένο βαθμό παραγωγικότητας του Vue, σκεφτείτε να κάνετε μια δωρεά ως ένδειξη εκτίμησης, και θα είναι σαν να μου αγοράζετε ένα καφέ μια φορά στο τόσο :)
</p>
